<mat-grid-list cols="2" rowHeight="100vh">

  <mat-grid-tile>
    <figure style="text-align: center;">
      <a href="#">
        <img src="http://localhost:4200/assets/business.jpg" width="650px">
      </a>
      <figcaption>Desk to perform more on your work</figcaption>
      <small>Get ready for your presence to make sense</small>
    </figure>
  </mat-grid-tile>

  <mat-grid-tile style="background: black">
    <mat-card style="width: 400px;">

      <form (ngSubmit)="onSignin()" [formGroup]="form">

        <div>
          <mat-form-field class="input-width">
            <!-- <mat-label>Email</mat-label> -->
            <input matInput placeholder="Email" id="email" name="email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="legacy" class="input-width">
            <!-- <mat-label>Password</mat-label> -->
            <input matInput placeholder="Password" type="password" id="password" name="password"
              formControlName="password">
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>
        </div>

        <button mat-raised-button color="pink">Login </button>

      </form>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>